Backyt/.idea/compiler.xml
Backyt/.idea/gradle.xml
Backyt/.idea/misc.xml
Backyt/.idea/modules.xml
Backyt/.idea/vcs.xml
Backyt/Backyt.iml
Backyt/app/app.iml
Backyt/.idea/encodings.xml
Backyt/.idea/runConfigurations.xml
Backyt/.idea/codeStyleSettings.xml
YoutubeMp3Rest/YTMP3_Log_*
ScumTube/.idea/runConfigurations.xml
ScumTube/.idea/vcs.xml
ScumTube/ScumTube.iml
ScumTube/app/app.iml
website/.idea/.name
website/.idea/modules.xml
ScumTube/.idea/compiler.xml
ScumTube/.idea/encodings.xml
ScumTube/.idea/gradle.xml
ScumTube/.idea/misc.xml
ScumTube/.idea/modules.xml
website/.idea/misc.xml
website/.idea/vcs.xml
website/.idea/website.iml
website/.idea/workspace.xml
