@media (min-width: 600pt) {
            .smartphone {
                width: 300pt;
                height: 456pt;
                background: url(smartphone.png) no-repeat scroll 0 0 / contain;
                position: absolute;
                z-index: 1;
                right: 50pt;
                top: 30pt;
            }

            .smartphone_screen {
                background: red;
                margin-top: 64pt;
                margin-left: 33pt;
                width: 172pt;
                height: 295pt;
                background: url(1.png) no-repeat scroll 0 0 / contain;
            }

            .logo {
                display: inline-block;
                position: relative;
                top: 50%;
                margin-top: -50px;     
                width: 300px;
                height: 100px;
                background: transparent url(logo.png) no-repeat scroll 0 0 / contain;
            }

            .horizontal-position {            
                left: 25%;
                margin-left: -150px;
            }

            .about {
                display: inline-block;
                position: relative;
                top: 50pt;
                width: 40%;
                height: 200pt;
            }

            .download{
                display: inline-block;
                position: relative;
                top: 160pt;
                width: 250px; 
                height: 87pt; 
                background: transparent url(download.png) no-repeat scroll 0 0 / contain;
            }
        }

@media (max-width: 600pt) {
    .smartphone {
        display: none;
    }

    .logo {
        display: inline-block;
        position: relative;
        top: 50%;
        margin-top: -50px;
        width: 300px;
        height: 100px;
        background: transparent url(logo.png) no-repeat scroll 0 0 / contain;
    }

    .horizontal-position {
        left: 50%;
        margin-left: -150px;
    }

    .about {
        display: inline-block;
        position: relative;
        top: 50pt;
        left: 0;
        margin-left: 0;
        width: 100%;
        height: 200pt;
    }

    .download{
        display: inline-block;
        position: relative;
        top: 64pt;
        left: 50%;
        margin-left: -125px;
        width: 250px; 
        height: 87pt; 
        background: transparent url(download.png) no-repeat scroll 0 0 / contain;
    }
}

body {
    padding: 0; 
    margin: 0; 
    height: 1px;
    min-height: 100vh; 
    max-width: 100vw;
}

.header {
    display: block;
    width: 100%; 
    height: 100pt;
    background: #800818; 
    border-bottom: 5px solid #5F0413;
}

.content {
    font-family: arial;
    text-align: justify;
    display: inline-block;
    width: 100%; 
    min-height: 600pt;
    background: #E9EDED;
}

.footer {
    display: inline-block;
    width: 100%;
    min-height: 200pt;
    background: #B01220;
}